# --- Configuration template for the development environment ---
# Copy this file to `.env` and fill in your local values.
# The `.env` file is ignored by Git and should NEVER be committed to the repository.

# === Application Metadata ===
APP_NAME=drf-api-template
APP_VERSION=0.1.1
COMMIT=unknown
DEBUG=true
SECRET_KEY=dev-secret-key
API_READONLY=true
TIME_ZONE=Europe/Warsaw
DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=src/db.sqlite3
USE_SQLITE_FOR_TESTS=true
